extends ../layout

block content
    div.container
        h1 Log in.
        h2 Enter your user name and password below.
        - if ('undefined' !== typeof errors && errors.length)
            ul#errors
            - each error in errors
                li.error= error

        form(method="post", action="/login")
            legend Log in to Your Account.
            div.form-group
                label.col-lg-2.control-label(for='everyauth.password.loginFormFieldName') Email address
                div.col-lg-10
                    input.form-control(type='email', id='everyauth.password.loginFormFieldName', name='everyauth.password.loginFormFieldName', placeholder='Email', value=email, required)
            div.form-group
                label.col-lg-2.control-label(for='everyauth.password.passwordFormFieldName') Password
                div.col-lg-10
                    input.form-control(type='password', id='everyauth.password.passwordFormFieldName', name='everyauth.password.passwordFormFieldName', placeholder='Password', required)
            div.form-group
                div.col-lg-offset-2.col-lg-10
                    div.checkbox
                        label
                            input(type='checkbox', id="rememberMe", name="rememberMe", value="true") 
                            |Remember me?
            div.form-group
                div.col-lg-offset-2.col-lg-10
                    button(type='submit', class='btn btn-primary') Login

        a(href="/register") Don't have an Account?
  
        section(class="social", id="socialLoginForm")
            form(method="post")
                h2 Use another service to log in
                div.form-group
                    div(class="message-info")
                        p 
                            | To let users of this site log in using their accounts from other sites such as Facebook, Twitter, 
                            | and Windows Live, you must update this site. For more information
                            a(href="http://go.microsoft.com/fwlink/?LinkId=255183&clcid=0x409", target="_blank") click here
                            |.
              
                // to use OAuth logins:
                // - uncomment the fieldset below that contains the oauth providers
                // - create an API key for each service, and put those keys in settings.json (see settings.example.json)
                        
            
                //fieldset
                    legend Log in using another service
                    a.fb_button_medium(href='/auth/facebook', class="button")
                        img(src='/images/facebookLogin.png')
                    br
                    br
                    a(href='/auth/twitter', style='border: 0px')
                        img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')

