extends layout

block content
  
    div.container
        h1 Nuevo Producto
        form(method='post', action='/catalogcreate', class='form-horizontal')
            legend Añadir un producto
            div.form-group
                label.col-lg-2.control-label(for='codigointerno') Código interno
                div.col-lg-10
                    input.form-control(type='text', id='codigointerno', name='codigointerno', placeholder='Código Interno', required)
            div.form-group
                label.col-lg-2.control-label(for='codigobarra') Código de barra
                div.col-lg-10
                    input.form-control(type='text', id='codigobarra', name='codigobarra', placeholder='Código de barra', required)
            div.form-group
                label.col-lg-2.control-label(for='tipo') Tipo
                div.col-lg-10
                    input.form-control(type='text', id='tipo', name='tipo', placeholder='Tipo', required)
            div.form-group
                label.col-lg-2.control-label(for='nombre') Nombre
                div.col-lg-10
                    input.form-control(type='text', id='nombre', name='nombre', placeholder='Nombre', required)
            div.form-group
                label.col-lg-2.control-label(for='marca') Marca
                div.col-lg-10
                    input.form-control(type='text', id='marca', name='marca', placeholder='Marca', required)
            div.form-group
                label.col-lg-2.control-label(for='presentacion') Presentacion
                div.col-lg-10
                    input.form-control(type='text', id='presentacion', name='presentacion', placeholder='Presentacion', required)
            div.form-group
                label.col-lg-2.control-label(for='preciopormenor') Precio por menor
                div.col-lg-10
                    input.form-control(type='text', id='preciopormenor', name='preciopormenor', placeholder='Precio por menor', required)
            div.form-group
                label.col-lg-2.control-label(for='preciopormayor') Precio por mayor
                div.col-lg-10
                    input.form-control(type='text', id='preciopormayor', name='preciopormayor', placeholder='Precio por mayor', required)
            div.form-group
                label.col-lg-2.control-label(for='precioplazavea') Precio plaza vea
                div.col-lg-10
                    input.form-control(type='text', id='precioplazavea', name='precioplazavea', placeholder='Precio plaza vea', required)
            div.form-group
                label.col-lg-2.control-label(for='preciowong') Precio wong
                div.col-lg-10
                    input.form-control(type='text', id='preciowong', name='preciowong', placeholder='Precio wong', required)
            div.form-group
                label.col-lg-2.control-label(for='preciomercasa') Precio mercasa
                div.col-lg-10
                    input.form-control(type='text', id='preciomercasa', name='preciomercasa', placeholder='Precio mercasa', required)
            div.form-group
                label.col-lg-2.control-label(for='margenmercasa') Margen mercasa
                div.col-lg-10
                    input.form-control(type='text', id='margenmercasa', name='margenmercasa', placeholder='Margen mercasa', required)

            div.form-group
                div.col-lg-offset-2.col-lg-10
                    button(type='submit', class='btn btn-primary') Guardar
                    &nbsp;
                    button(type='reset', class='btn btn-default') Cancelar