extends layout

block content
  h1 Subir Archivo
  form(method='post', action='/productfile', enctype='multipart/form-data')
    fieldset
        legend A침adir un archivo
        div.clearfix
            label Archivo
            div.input
                input(type='file', name='userfile', class='xlarge')            

        div.actions
            input(type='submit', value='Subir Informaci칩n a BD', class='btn primary')
            button(type='reset', class='btn') Cancelar

        if(rptasubida!=null && rptasubida!=undefined)
            if(rptasubida=='1')
                label Se proces칩 correctamente el archivo
            if(rptasubida=='-1')
                label No se proces칩 correctamente el archivo