extends layout

block content
    div.container
        h1 Subir Archivo
        form(method='post', action='/productfile', enctype='multipart/form-data', role='form')
        fieldset
            legend A침adir un archivo
            div.form-group
                label(for='userfile') Adjuntar Archivo
                input(type='file', id='userfile', name='userfile')
                p.help-block Selecciona un archivo que contenga los productos que desea subir a la base de datos         

            div.actions
                input(type='submit', value='Subir Informaci칩n a BD', class='btn btn-primary')

            if(rptasubida!=null && rptasubida!=undefined)
                if(rptasubida=='1')
                    label.label.label-success Se proces칩 correctamente el archivo
                if(rptasubida=='-1')
                    label.label.label-danger No se proces칩 correctamente el archivo