extends layout

block content
    div(class="jumbotron")
        div(class="container")
            h2 Mercasa directo a tu casa.

    section(class="main-contentmvc")
        h3 Comprar aquí... No olvidar ordenar su pedido...
        ol(class="roundmvc")
            li(class="onemvc")
                h5 Busca tus productos
                p 
                | Al buscar tus productos... 
                a(href="/catalog", target="_blank") Busca...
            li(class="twomvc")
                h5 Agrega a tu carrito de compras
                p 
                | Al agregar tus productos...  
                a(href="/catalog", target="_blank") Agregar...
            li(class="threemvc")
                h5 Compra tus productos
                p 
                | Al comprar tus productos...  
                a(href="/catalog", target="_blank") Comprar...
 